dist: xenial

language: go

env:
  # - GO111MODULE=on
  # - GOFLAGS='-mod vendor'

go:
  - 1.12.x

git:
  depth: 1

install: true

notifications:
  email: false

before_script:
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.23.1
  - go get github.com/go-redis/redis
  - go get github.com/aws/aws-sdk-go
  - go get github.com/golang/mock/gomock

script:
  - cp -r $TRAVIS_BUILD_DIR /home/travis/gopath/src/oionetdata
  - cd /home/travis/gopath/src/oionetdata
  - golangci-lint run
  - go test -v ./...
